ZENDESK_SHARED_SECRET=your_zendesk_jwt_shared_secret_here
ZENDESK_SUBDOMAIN=lifebyte-28216
ZENDESK_RETURN_TO=https://lifebyte-28216.zendesk.com/agent/home/tickets
ZENDESK_API_EMAIL=your_email@example.com
ZENDESK_API_TOKEN=your_zendesk_api_token_here
PORT=3001
